In [1]:
# Importing base libries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# importing the dataset
data_frame = pd.read_csv('adult.csv')
# age, is_employed_by_the_state_gov, user_id, eduction_level, no_of_project, marriatal_staus, job_description, family_relation, skin_color, gender, ====, country, y_value
data_frame.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [3]:
# Printing the columns for this data set
data_frame.columns
# dropping the unnecery colums for a more accurate model
data_frame.drop([' 2174', ' 0', ' 40'], axis="columns", inplace=True)
data_frame.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K

In [4]:
# creating new heading columns
data_frame.columns = ['Age', 'Type_of_ownwer', 'id', 'education', 'No_of_project_done', 'Marital_status', 'Job_designition', 'Family_relation', 'Race', 'Gender', 'Country', 'Salary']
data_frame.head()

,Age,Type_of_ownwer,id,education,No_of_project_done,Marital_status,Job_designition,Family_relation,Race,Gender,Country,Salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K

In [5]:
# Cheaking the shape of this dataset
data_frame.shape

(32560, 12)

In [6]:
# getting more infomation about this dataset provided by padas utils
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 32560 non-null  int64
 1   Type_of_ownwer      32560 non-null  object
 2   id                  32560 non-null  int64
 3   education           32560 non-null  object
 4   No_of_project_done  32560 non-null  int64
 5   Marital_status      32560 non-null  object
 6   Job_designition     32560 non-null  object
 7   Family_relation     32560 non-null  object
 8   Race                32560 non-null  object
 9   Gender              32560 non-null  object
 10  Country             32560 non-null  object
 11  Salary              32560 non-null  object
dtypes: int64(3), object(9)
memory usage: 3.0+ MB

In [7]:
# cheking out the description of the data_set
data_frame.describe()

                Age            id  No_of_project_done
count  32560.000000  3.256000e+04        32560.000000
mean      38.581634  1.897818e+05           10.080590
std       13.640642  1.055498e+05            2.572709
min       17.000000  1.228500e+04            1.000000
25%       28.000000  1.178315e+05            9.000000
50%       37.000000  1.783630e+05           10.000000
75%       48.000000  2.370545e+05           12.000000
max       90.000000  1.484705e+06           16.000000

In [8]:
# chrecking if their are null value
data_frame.isnull().sum()

Age                   0
Type_of_ownwer        0
id                    0
education             0
No_of_project_done    0
Marital_status        0
Job_designition       0
Family_relation       0
Race                  0
Gender                0
Country               0
Salary                0
dtype: int64

In [13]:
# Getting the features and labels
X = data_frame.drop(['Age', 'id', 'Family_relation', 'Country', 'Salary'], axis = 1)
y = data_frame['Salary']
X.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: Salary, dtype: object

In [11]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [12]:
# Label Encoding is carried out here
X['Type_of_ownwer'] = label_encoder.fit_transform(X['Type_of_ownwer'])

X['education'] = label_encoder.fit_transform(X['education'])

X['Marital_status'] = label_encoder.fit_transform(X['Marital_status'])

X['Job_designition'] = label_encoder.fit_transform(X['Job_designition'])

X['Race'] = label_encoder.fit_transform(X['Race'])

X['Gender'] = label_encoder.fit_transform(X['Gender'])

y['Salary'] = label_encoder.fit_transform(y['Salary'])
X.head()

,Type_of_ownwer,education,No_of_project_done,Marital_status,Job_designition,Race,Gender
0,6,9,13,2,4,4,1
1,4,11,9,0,6,4,1
2,4,1,7,2,6,2,1
3,4,9,13,2,10,2,0
4,4,12,14,2,4,4,0

In [37]:
# Preparng the dataset and spliting it
from sklearn.model_selection import train_test_split

X_train, X_test,  y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

TypeError: Singleton array array(<32560x55 sparse matrix of type '<class 'numpy.float64'>'
	with 227920 stored elements in Compressed Sparse Row format>,
      dtype=object) cannot be considered a valid collection.

# *Now kicking of the training process*

In [24]:
# 1. Working with linear regression
# Training the Multiple Linear Regression model on the Training set
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

ValueError: could not convert string to float: ' Assoc-voc'